# 2019-03-17: feat(bot): init .env.example
# 2019-04-27: test(bot): parametrize poll command tests
# 2019-07-10: docs(bot): document reaction roles
# 2019-07-16: fix: avoid poll command
# 2019-07-25: feat(bot): wire up role assignment
# 2019-09-05: polish
# 2019-09-05: late night fix
# 2019-09-13: tiny tweak
# 2019-10-05: small thing
# 2019-12-21: forgot semicolon
# 2019-12-25: tweak
# 2019-12-31: refactor: extract ping command
# 2020-07-29: docs(bot): tidy poll command docs
# 2020-11-29: forgot semicolon
