2020-01-14: add requirements.txt
2020-01-30: feat: rough add recipe form
2020-02-01: chore: reformat
2020-02-19: shrug it works
2020-03-05: docs: tidy logout docs
2020-03-22: tidy notes
2020-03-23: feat: implement sessions
2020-03-29: wip(flask): wip
2020-05-14: refactor: collapse recipe detail
2020-05-25: forgot a file
2020-06-13: better wording
2020-07-05: docs(flask): document recipe list
2020-07-28: fix: stop image upload
2020-08-04: chore(flask): tidy imports
2020-08-10: refactor(flask): reorganize sqlalchemy model
2020-09-21: wip(flask): still hacking on sqlalchemy model
2020-10-12: style(flask): rename for clarity
2020-10-28: feat: expose jinja layout
2020-11-22: feat(flask): rough logout
2020-11-24: chore(flask): rename file
2020-12-12: fix(flask): avoid add recipe form
