2020-01-30: add requirements.txt
2020-02-17: test: flesh out inline keyboard tests
2020-02-18: fix: handle sticker pack
2020-02-26: fix typo
2020-03-05: polish
2020-03-12: oops
2020-04-02: refactor: collapse sticker pack
2020-04-08: test: add tests for reminder cron
2020-05-05: one more thing
2020-06-13: add missing import
2020-09-11: feat(bot): integrate sticker pack
2020-10-05: chore: rename file
2020-10-05: feat(bot): support start handler
2020-10-10: small thing
2020-10-13: style: reflow echo handler
