2020-01-30: add requirements.txt
2020-02-17: test: flesh out inline keyboard tests
2020-02-18: fix: handle sticker pack
2020-02-26: fix typo
2020-03-05: polish
2020-03-12: oops
2020-04-02: refactor: collapse sticker pack
2020-04-08: test: add tests for reminder cron
